//.user-form {
//
//  span {
//    display: inline-block;
//    width: 150px;
//  }
//
//  label {
//    margin-bottom: 20px;
//  }
//  input {
//    width: 250px;
//    height:20px;
//  }
//
//  .user-form-email {
//    margin-top: 20px;
//
//    label {
//      display: inline-block;
//    }
//  }
//}

.user-form {
  margin: 50px 0;
  label {
    display: block;
    text-align: center;
    margin-bottom: 35px;

    .error {
      color: red;
    }
  }

  span {
    display: inline-block;
    width: 150px;
  }

  input {
    width: 250px;
    height: 30px;
    padding-left: 10px;
  }

  button {
    display: block;
    text-align: center;
    margin: 35px auto 0;
    width: 200px;
    height:50px;
    font-size: 20px;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: lightcyan;
      color: aqua;
    }
  }
}